<div class="p-6 bg-white shadow-md border rounded-xl flex flex-col relative">
    @if (product(); as product) {
    <div class="mx-auto w-full">
        <!--  -->
        <div class="grid place-items-center my-8">
            <img [src]="product.image" class="w-[200px] h-[100px] object-contain" [alt]="product.title">
        </div>
        <div class="mt-2 flex flex-col gap-2 justify-items-end w-full">
            <span class="text-xl font-bold line-clamp-1">{{product.title}}</span>
            <span class="text-2xl font-extrabold text-gray-500">{{ '$ ' + product.price}}</span>
            <app-primary-button 
                label="Add to Cart" 
                [class.opacity-50]="!product.stock"
                (btnClicked)="cartService.addToCart(product)" 
            />
        </div>
        <!--  Absolute Element -->
        <span class="absolute top-3 right-3 text-sm font-bold" [class.text-green-800]="product.stock"
            [class.text-red-500]="!product.stock">
            {{product.stock ? product.stock + ' left' : 'Out of Stock'}}
        </span>


    </div>
    }

</div>