.login {
    font-size: 48px;
    color: green;
    text-transform: uppercase;
}

.logout {
    font-size: 48px;
    color: red;
    text-transform: lowercase;
}

.one {
    text-decoration: line-through;
}

.two {
    background-color: red;
}

.three {
    font-size: 48px;
}