<div class="p-4 grid w-full h-screen place-items-center">

    <div class="w-lg">
        <h1 class="text-2xl font-semibold">User Form</h1>
        <form (ngSubmit)="formSubmit(form)" #form="ngForm">
            <input class="input-nice" type="text" name="name" id="" placeholder="Name" ngModel>
            <input class="input-nice" type="email" name="email" id="" placeholder="Email" ngModel>
            <input class="input-nice" type="text" name="address" id="" placeholder="Address" ngModel>

            <button type="submit" class="btn-primary">Submit</button>
        </form>
        <hr>
        <h1>{{userForm.name}}</h1>
        <h1>{{userForm.email}}</h1>
        <h1>{{userForm.address}}</h1>
    </div>
    
</div>