<div class=" p-20">
    <h1 class="font-semibold text-2xl">ng-template-outlet</h1>
    
    <ng-template #getButton>
        <button class="btn-primary">Join now</button>
        <button class="btn-primary">Join now</button>
        <button class="btn-primary">Join now</button>
        <button class="btn-primary">Join now</button>
        <button class="btn-primary">Join now</button>
        <hr>
    </ng-template>

    <div [ngTemplateOutlet]="getButton">x
        <h5>Sidebar</h5>
    </div>
    <div [ngTemplateOutlet]="getButton">
        <h5>Hero</h5>
    </div>
    <div [ngTemplateOutlet]="getButton">
        <h5>Footer</h5>
    </div>

</div>