.fontsize {
    font-size: 100px;
}

.space {
    padding: 10px;
}

.active {
    background-color: red;
    border: 3px solid blue;
}

.no-active {
    background-color: red;
}
.active-border {
    border: 5px solid red;
}

.no-active-border {
    border: 5px solid yellow;
}

.apple {
    background-color: blue;
    border: 5px solid yellow;
}